@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Mono:wght@200&display=swap');
html{
    background-color: #0e0a0a !important;
}
a, a:active, a:hover{
    text-decoration: none !important;
    color: aliceblue;
    
}

#cardlinkedin, .cardproyecto{
    display: none;    
   
}
#sobremi{
    display: flex;
}
#cardlinkedin{
    margin-top: 8rem;
    width: 80%;
}
#fondo{
    height: 100%;
    background-color: rgb(31, 29, 29);
    background-image: url("/img/fondo2.jpg") ;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-filter: invert(10%);
    filter: grayscale(57%);
    opacity: 0.9;
}

#titulo{
    color: rgb(191, 191, 199);
    font-size: 3rem;
    padding-left: 2rem;
    animation-name: transparentar;
    animation-delay: 2s ;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

#subtitulo{
    color: rgb(73, 73, 75);
    font-size: 1.8rem;
    padding-left: 2.2rem;
    animation-name: transparentar;
    animation-delay: 3s ;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.fila{
    display: flex;
    flex-direction: row;
    
}
.columna{
    display: flex;
    display: column;
    margin: 1rem;
    justify-items: baseline;
    
}

#botoncv{
   margin-top: 0.6rem;
}

#contenido{
   
    
    display: flex;  
    flex-flow: column; 
    min-height: 100%;
    
    
}
#sobremi{

   padding: 1rem;
   display: flex;  
   flex-direction: row;
   justify-content: center;
   
 
}

#descripcion{   
    flex-direction: column; 
    width: 80rem;
    text-align: justify;    
    font-size: large;
    margin: 0.5rem;
    margin-top:5rem;
    margin-bottom: 5rem;
  
}
#descripcion > .texto{
    animation-name: transparentar;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    
}
#linkedin{
    display: flex;
    justify-content: center;
    flex-direction: row;  
}

#cardlinkedin{
    width: 35%;
    background-color: #1b1a1a;
    border: 1px solid transparent;

    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function: linear;    
    flex-direction: column;
    animation-name: bajar;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    cursor: pointer;
}
#cardlinkedin:hover{
   
    border: 1px solid white;

    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function: linear;     
    }
.texto{
    text-align: justify;
}

.textoproyecto{
    color: aliceblue;
    font-size: 1.1rem;
    text-align: justify !important;
    font-family: 'Roboto Mono', monospace !important;
    padding: 0rem!important;
}
#proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;      
}
#rowproyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#masproyectos{
    display: none;
    flex-direction: row;
    justify-content: center;      
}
#masproyectos > button{
    animation-name: aparecer, transparentar;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    margin-top: 2rem;
    margin-left: 1.6rem !important;
    
}
.cardproyecto{
    width: 20rem;
    flex-direction: column;
    margin-left: 3.9rem;
    margin: right 3.9rem;    
    
   
}
.card{
    animation-name: aparecer;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    border: 1px solid rgb(92, 90, 90);
}
.card:hover{
    border: 1px solid  rgb(142, 115, 163);
  
}

#botonera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
   
}
#proyectos2{
    display: none;
    flex-direction: column;
    justify-content: center;  

}
#rowproyectos2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardproyecto2{
    width: 20rem;
    flex-direction: column;
    margin-left: 3.9rem;
    margin: right 3.9rem;    
      
}
#masproyectos2{
    display: flex;
    flex-direction: row;
    justify-content: center;      
}
#masproyectos2 > button{
    animation-name: aparecer, transparentar;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    margin-top: 2rem;
    margin-left: 1.6rem !important;
    
}

.btnprincipal{
   
   background-color: transparent;
   color: rgb(90, 90, 90);
   border-color: #858383;
   transition-property: color;
   transition-duration: 0.2s;
   transition-timing-function: ease-in;   
}
.btnprincipal:hover{
    color: #cccaca;
    border-radius: 0.5rem;
    border-color: #a09e9e;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: linear;   
}
.btnprincipal:active{
    font-size: 1.4rem;
    transition-property: font;
    transition-duration: 0.2s;
    transition-timing-function: linear;   

}
.btnprincipal:focus{
    box-shadow: 3px #d3d2d2 !important;
       
}
#botonesmovil{
    display: none;    
    position: fixed !important;
    bottom:0 ;
    z-index: 999999 !important;
    width: 100%;
    background-color: #0a0a0a;   
}

#footer{
    background-color: #010101;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
    margin-top: 8rem;
    
}

/*css para proyecto.html */
#sectionfotos{
    margin: 2rem;
    
}
.fotoproyecto{
    border: 1px  solid rgb(255, 255, 255);
    margin: 1rem;
    
}
.fotoproyecto:hover{   
    
    animation-name: ensombrecer;
    animation-duration: 2s;
    animation-delay: 20ms;
   

}
#botonesproyecto{
    display: flex;
}
.btnprincipalproyecto{
   background-color: transparent;
   color: rgb(90, 90, 90);
   border-color: #858383;
   transition-property: color;
   transition-duration: 0.2s;
   transition-timing-function: ease-in;   
}
.link{
    color: rgb(169, 131, 231);
}
.link:hover{
    color: cornflowerblue;
}



/*-----------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #353434;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 19, 19);
  }

  @keyframes ensombrecer{
      from{filter: contrast(80%);}
      to{filter: contrast(100%);}
  }
  @keyframes bajar {
    from {top: -14rem;}
    to {top: -4rem; background-color: transparent;}
  }

  @keyframes transparentar {
    from {color: transparent;}
    to {color: rgb(184, 184, 184);}
  }

  @keyframes aparecer {
    from {left: -14rem; background-color:transparent}
    to {left: 0rem; background-color: rgb(29, 29, 31);}
  }
  

.insetshadow {
    
    font-family: 'Inter', sans-serif; 
    letter-spacing: 0.4rem;  
    background: transparent;
     
   
}
.titulo{
    font-family: 'Inter', sans-serif; 
    letter-spacing: 0.2rem !important; 
    font-size: 1.2rem !important; 
    color: #a09e9e;
    font-style: normal !important;

}
.texto{
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    text-decoration: none;
    
}
  
@media (max-width: 1440px) {
   
    .cardproyecto{
        width: 16rem;
        margin: 1rem;
    }  
    .cardproyecto2{
        width: 16rem;
        margin: 1rem;
    }  
    #cardlinkedin{
        width: 55%;
    }
    

}
@media (max-width: 1050px) {
    #fondo{
        height: 100%;
        background-repeat: repeat;
    }
    #sobremi{
        padding: 2rem;
    }
    #cardlinkedin{
        width: 60%;
    }
    #footer{
        margin-top: 1rem;
        
    }
}

@media (max-width: 850px) {
    #proyectos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #proyectos2{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        
    }
    
    #rowproyectos{
        display: flex;
        flex-direction: column;
    }
    #rowproyectos2{
        display: flex;
        flex-direction: column;
    }
    .cardproyecto{
        width: 30rem;
    }
    .cardproyecto2{
        width: 30rem;
    }
    #botones{
        display: flex;
        flex-direction: row;
    }  
    #descripcion {

        margin-top: 0rem;

    }   
    #contenido{
        margin-bottom: 1rem;
    }
    #cardlinkedin{
        margin-top: 3rem !important;
        width: 80%;
    }

}
@media (max-width: 700px) {
    
    #botones{
        display: none;
    }
    .cardproyecto{
        width: 20rem;
    }
    .cardproyecto2{
        width: 20rem;
    }
    .section{
        padding-top: 1rem;
        padding-left: 0.5rem;
    }
    #cardlinkedin{
        margin-top: 3rem !important;
        width: 80%;
    }
    #botonesmovil{
        display: flex;
        flex-direction: row;
        justify-content: center;       
    }
    .btnprincipal{
        margin: 0.3rem;
    }
    .btnprincipalproyecto{
        width: 100%;
        font-size: 0.9rem !important;
    }
  
}
@media (max-width: 495px) {
    
    #botones{
        display: none;
    }
    .cardproyecto{
        width: 19rem;
    }
    
    .cardproyecto2{
        display: none;
        width: 19rem;
    }
    .section{
        padding-top: 1rem;
        padding-left: 0.5rem;
    }
    #titulo{
        font-size: 1.3rem !important; 
        color: #a09e9e;
        font-style: normal !important;
        padding-left:0 ;
    
    }
    #subtitulo{
        font-size: 0.8rem !important; 
        padding-left:0.5rem ;
    }
    #sobremi{
        padding: 0;
    }
    .texto{
        font-size: 0.8rem;
    } 
    .titulo{
        font-size: 1rem !important;
    }
    #cardlinkedin{
        margin-top: 5rem !important;
        width: 95%;
    }
    .botonproyecto{
        font-size: 0.8rem !important;
    }
    .textoproyecto{
        font-size: 0.8rem;
        
    }
    #botoncv{
        font-size: 0.5rem ;
        margin-top: 0.1rem;
     }
  
  
}